@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:checked + svg {
  display: block;
}

img {
  display: inline !important;
  vertical-align: middle !important;
}

.rct-sidebar-row {
  padding: 0 !important;
  line-height: 20px !important;
}

.sticky {
  position: 'sticky';
  top: 0;
  z-index: 999;
}

/* .react-calendar-timeline .rct-scroll {
  overflow-x: hidden !important;
} */
